.container{
    display: flex;
    text-align: center;
    background-color: lightgrey;
    width: 100%;
}
.item-name{
    font-size: large;
}

.data-value{
    font-size: medium;
    color: #00003f;
    font-size: 22px;
}