<!-- <router-outlet></router-outlet>

<div class="input-text"  *ngFor=" let item of list">
    <ion-grid >
        <ion-row>
            <ion-col size="4">
                <div class="container">
                    <app-app-input [inputValue]="item.label" ></app-app-input>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div> -->

<!---Map Using-->
<!-- 
<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onClickMap($event)">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->

<!---Using Multiple Language-->
<!-- <div class="container">
    <ion-grid>
        <div  calss="bg-image" style="background-image: url('C:\Users\vthink\Downloads\2-1');"></div>
        <ion-row>
            <ion-col size="6">
                <div class="lrn-container">
                    <div><span class="lrn-logo">{{ 'login.Title' | translate }}</span></div><br>
                    <div><span>{{ 'login.Subtitle' | translate }}</span></div><br>
                    <div><label>{{ 'login.Login Name' | translate }}</label></div>
                    <input  class="input-box" placeholder="{{ 'login.Login Placeholder' | translate }}"><br>
                    <div><label>{{ 'login.Password' | translate}}</label></div>
                    <input class="input-box" placeholder="{{ 'login.Password Placeholder' | translate }}"><br>
            
                    <button>{{ 'login.New User' | translate}}</button>
                    <button>{{ 'login.Sign In' | translate}}</button>
            
                    <div><br>
                        <span>{{ 'login.Forgot Password' | translate}}</span>
                        <span>{{ 'login.Help' | translate}}</span>
                        <span>{{ 'login.Change Language' | translate}}</span>
                    </div>
                </div>
            
            </ion-col>

            <ion-col size="6">
                <div>
                    <span>{{ 'language choose.Set Prefered Language' | translate }}</span><br>
                    <label>{{ 'language choose.Prefered Language' | translate }}</label><br>
                    
                    <div>
                        <select [(ngModel)]="selectLanguages" (ngModelChange)="onChange($event)">
                            <option [value]="item" *ngFor="let item of supportLanguages" >{{ item }}</option>
                        </select>        
                        
                        <button (click)="selectLanguage($event)">{{ 'language choose.Continue' | translate }}</button>
                    </div>
                </div>
            </ion-col>
            
        </ion-row>
    </ion-grid>
 </div>

 <router-outlet></router-outlet> -->

<!--Modal POPUP-->

<!-- <app-app-modal-popup (intervalValue)="intervalValue($event)"></app-app-modal-popup> -->
<!-- <div>
    <button (click)="studentDetail()">Student Details</button>
    <button (click)="staffDetail()">Staff Details</button>
</div> -->
<!-- <app-navigation-bar></app-navigation-bar> -->

<!---Common modal POPUP-->

<!-- <app-app-lrn-category></app-app-lrn-category> -->

  
<!-- <button (click)="makeApiCall()">Add to Calander</button> -->
<!-- 
<object data="https://lrn.com/" width="100%" height="100%"></object>
<iframe src="https://lrn.com/" width="100%" height="100%"></iframe>
<embed src="https://lrn.com/" width="100%" height="100%" onerror="alert('url invalid');"> -->

<!----Using object and Embed---->
<!-- <object data="https://www.google.co.in/" width="100%" height="100%">
  <embed src="https://www.google.co.in/" width="100%" height="100%">
</object> -->

<!----Redirect the website-->
<!-- <button onclick="location.href='https://lrn.com/';">LRN</button> -->

<!---select MultiLanguage-->
<!-- <app-app-course></app-app-course> -->

<!---Common table View-->
<!-- <app-app-table-view></app-app-table-view> -->

<!----Select Multiple Language-->
<!-- <app-app-course></app-app-course> -->

<!----Drag and Drop-->
<!-- <app-drag-and-drop></app-drag-and-drop> -->

<!----App Hash tag component-->
<!-- <app-app-lrn-category></app-app-lrn-category> -->

<!-----Modal Popup-->
<!-- <app-open-modal-popup></app-open-modal-popup> -->

<!---Different POPUP-->
<!-- <app-open-differ-dropdown></app-open-differ-dropdown> -->

<!--Completion History---->
<app-completion-history-component></app-completion-history-component>