<!-- <ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="1">Status</ion-col>
            <ion-col size="1">Due Date</ion-col>
            <ion-col size="1">Content ID</ion-col>
            <ion-col size="4">Title</ion-col>
            <ion-col size="1">Duration</ion-col>
            <ion-col size="4">Actions</ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row *ngFor="let item of tableValues">
            <ion-col size="1" ><ion-label *ngIf="item.status">{{ item.status }}</ion-label></ion-col>
            <ion-col size="1"><ion-label  *ngIf="item.date">{{ item.date }}</ion-label></ion-col>
            <ion-col size="1"><ion-label *ngIf="item.content">{{ item.content }}</ion-label></ion-col>
            <ion-col size="4" ><a data-toggle="collapse" *ngIf="item.title" class="add-row" data-target="#demo1" data-parent="#myTable">{{ item.title }}</a></ion-col>
            <ion-col size="1" ><ion-label *ngIf="item.duration">{{ item.duration }}</ion-label></ion-col>
            <ion-col size="4">
                <ion-row>
                    <ion-col size="4" *ngIf="item.language"><app-dropdown 
                        name="tableValues"
                        [data]="tableValues"
                        displayBy="language"
                        [placeholder] = "defaultLanguage"
                        [(ngModel)]="item.language"
                        value="item.language"
                        ></app-dropdown></ion-col>
                    <ion-col size="4" *ngIf="!this.demo && item.expand"><ion-button (click)="open()">{{ Expand }}</ion-button></ion-col>
                    <ion-col  size="4" *ngIf="this.demo && item.expand"><ion-button (click)="collapse()">{{ collapsed }}</ion-button></ion-col>
                    <ion-col  size="4" *ngIf="item.calender"><ion-button >{{ item.calender }}</ion-button></ion-col>
                </ion-row>
            
            
            </ion-col>
        </ion-row>
        <div *ngIf="demo">
            <ion-row *ngFor="let items of subContent" id="demo1" class="collapse">
            <ion-col size="1" ><ion-label *ngIf="items.status">{{ items.status }}</ion-label></ion-col>
            <ion-col size="1"><ion-label  *ngIf="items.date">{{ items.date }}</ion-label></ion-col>
            <ion-col size="1"><ion-label *ngIf="items.content">{{ items.content }}</ion-label></ion-col>
            <ion-col size="4" ><a data-toggle="collapse" *ngIf="items.title" data-target="#demo1" data-parent="#myTable">{{ items.title }}</a></ion-col>
            <ion-col size="1" ><ion-label *ngIf="items.duration">{{ items.duration }}</ion-label></ion-col>
            <ion-col size="4"> 
            <ion-button *ngIf="items.language">{{ items.language }}</ion-button>
            <ion-button *ngIf="items.calender">{{ items.calender }}</ion-button>
            </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content> -->


    <ion-grid class="parent">
        <ion-row class="apply-padding">
            <ion-col>
                <ion-label class="title" tabindex="0" alt="text" class="table-title">{{ title }}</ion-label>
            </ion-col>
            <ion-col >
                <button ion-button class="button-history" *ngIf="view">View Communication History
                  <i class="material-icons-outlined">history</i>
                </button>
            </ion-col>
        </ion-row>
        <div >
            <ion-row *ngIf="gridData && gridData.columns" class="create-coloumn td-col-space">
                <ng-container *ngFor="let item of gridData.columns">
                    <ion-col size="{{item.size}}">
                        <div 
                            (click)="sortColumn(item)"
                            >
                            <ion-label class="td-header td-col-space text-font-header" tabindex="0" alt="text">
                                {{ item.label}}
                                <div>
                                    <div *ngIf="item.sort && item.sort === 'asc'" class="asc-icon">
                                        <i class="material-icons-outlined">vertical_align_bottom</i>
                                    </div>
                                    <div *ngIf="item.sort && item.sort === 'desc'" class="desc-icon">
                                        <i class="material-icons-outlined">vertical_align_top</i>
                                    </div>
                                </div>
                            </ion-label>
                        </div>
                    </ion-col>
                </ng-container>
            </ion-row>    
        </div>
        <div>
            <ion-row class="create-coloumn td-col-space" *ngFor="let item of gridData && gridData.rows" id="customer">
                <ng-container *ngFor="let row of item">
                    <ion-col class="create-coloumn text-font-data" size="{{row.size}}" tabindex="0">
                        <div *ngIf="row.type === 'text'" >
                            <ion-label appSearch [innerHTML]="row.value">
                                {{ row.value}}
                            </ion-label>
                        </div>  
                        <div *ngIf="row.type === 'label'" alt="txet">
                            <ion-label class="link" appSearch [innerHTML]="row.value" >
                                {{ row.value }}
                            </ion-label>
                        </div>  
                        <div *ngIf="row.type === 'dropdown'">
                            <ion-label appSearch [innerHTML]="row.value">
                                {{ row.value}}
                            </ion-label>
                        </div>  
                        <div *ngIf="row.type === 'check'">
                            <ion-label appSearch [innerHTML]="row.value">
                                {{ row.value}}
                            </ion-label>
                        </div>  
                        <div *ngIf="row.type === 'toggle'">
                            <ion-label appSearch [innerHTML]="row.value">
                                {{ row.value}}
                            </ion-label>
                        </div>   
                        <div *ngIf="row.type==='labelStatus'">
                            <ion-label appSearch [innerHTML]="row.value">
                                {{ row.value }}
                            </ion-label>
                        </div>
                        <div *ngIf="row.type==='action'" class="icon-action add-pointer">
                            <div  class="print" tabindex="0">
                                <span class="tooltip">
                                    <i class="material-icons-outlined">print</i>
                                    <span class="tooltiptext">Print Completion Certificate</span>
                                </span>&nbsp;&nbsp;
                                </div>
                            <div *ngIf="row.key === true" class="print-note add-pointer" tabindex="0">
                                <span class="tooltip">
                                    <i  class="material-icons-outlined">description</i>
                                    <span class="tooltiptext">Print Submission</span>
                                </span>&nbsp;&nbsp;
                                </div>
                            <div class="print-note add-pointer" tabindex="0">
                                <span class="tooltip">
                                    <i class="material-icons-outlined">rate_review</i>
                                    <span class="tooltiptext">Rate and review</span>&nbsp;&nbsp;
                                </span>
                            </div>
    
                        </div>
                    </ion-col>
                </ng-container>
            </ion-row>    
        </div>
</ion-grid>
<div *ngIf="showPaging" class="ion-text-center paging-align ion-text-md-right ion-text-lg-right ion-text-xl-right">
    <app-app-pagination (pageChange)="pageChanged($event)"></app-app-pagination>
</div>