<div class="container">
<ion-grid>
    <ion-row>
        <ion-col size="5">
            <button ion-button class="back-button" tabindex="0"><i class="material-icons-outlined">arrow_back</i>Back</button>
        </ion-col>
        <ion-col size="7">
            <ion-text class="completion-title" tabindex="0" alt="text">Completion History</ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <!-- <ion-segment value="all" ngDefaultControl>
                <ion-segment-button value="2021" class="seg-texting text-font">2021</ion-segment-button>
                <ion-segment-button value="2020" class="seg-texting text-font">
                    2020
                </ion-segment-button>
            </ion-segment> -->
            <ion-button>2021</ion-button>
            <ion-button>2020</ion-button>
        </ion-col>
        <ion-col>
            <div class="search-container">
                <input class="input-box" type="text" value="" placeholder="Search" name="search" id="myInput" (input)="onSearchChange($event)">
                <span class="search-icon" *ngIf="!searchQuery"><i class="material-icons-outlined">search</i></span>
                <span class="close-icon"  *ngIf="searchQuery" (click)="cancel()"><i class="material-icons-outlined small">close</i></span>
              </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <app-app-table-view
            [title]="title"
            [data]="gridData"
            (ipageChange)="pageChange"
            [showPaging]="isShowPaging"
            (iSortColumn)="sortingTable($event)"></app-app-table-view>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <app-app-table-view
            [title]="dish"
            [data]="gridDisclosures"
            [view]="true"></app-app-table-view>
        </ion-col>
    </ion-row>
</ion-grid>
</div>